node_modules
coverage
dist/*
docs/*
test/browser/webpack-test.js
*.log
.vscode
.nyc_output
.coveralls.yml

# Misc
.DS_Store

# vim
## Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

## Session
session.vim
Session.vim
*.vim
